h1 {
    color: #4B668E;
    font-weight: bold;
}
.text-primary {
    color: #4B668E!important;
}
.text-secondary {
    color: #6c757d!important;
}











/* General adjustments (smallest screens) */
@media (max-width: 575.98px) {
        .skills,.p{
    font-size: 5px;
}}

/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #skills {
    font-size: 5px;
}
}

/* Medium devices (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .skills,.p{
    font-size: 15px;
    }
    }
    
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
}
}

@media only screen and (max-width: 500px){
    .responsive {
    width: 100%;
}
}